body {
    background-color:antiquewhite;
    font-family:'Lucida Sans', Verdana, sans-serif
}

*{
    box-sizing:border-box;
}

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

div[class*="col-"]{
    float:left;
    padding:15px;
}
@media only screen and (max-width:680px){
    [class*="col-"]{
        width:100%;
    }
}

.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.menu ul li{
    background-color:burlywood;
    padding:7px;
    margin:7px;
    font-size:17px;
    color:white;
    box-shadow:0 1px 3px rgba(0,0,0,.63),0 1px 3px rgba(0,0,0,.48)

}
.menu ul li:hover{
    background-color:coral;
}

ul.topnav{
    list-style-type:none;
    background-color:burlywood;
    margin:0;
    padding:0;
    overflow:hidden;
}
ul.topnav li{
    float:left;
}
ul.topnav li a{
    display:inline-block;
    margin:4px 6px;
    text-decoration:none;
    color:white;
    font-size:17px;
}
ul.topnav li a:hover{
    background-color:coral;
}
ul.topnav li.icon{
    display:none;
}

@media screen and (max-width:680px){
    ul.topnav li:not(:first-child){
        display:none;
    }

    ul.topnav li.icon{
        float:right;
        display:inline-block;
        
    }
}

ul.topnav.responsive{position:relative}
ul.topnav.responsive li.icon{
    position:absolute;
        right:0;
    top:0;
}
ul.topnav.responsive li{
    display:inline;
    float:none;
}
ul.topnav.responsive li a{
    display:block;
    text-align:left;
}
