<h3>New Topic</h3>
<form name="newTopicForm" ng-submit="save()">
    <fieldset>
        <div>
            <label for="title">Title</label>
            <input name="title" type="text" ng-model="newTopic.title" required ng-minlength="5"/>
            <span class="has-error" ng-show="newTopicForm.title.$error.required">*</span>
            <span class="has-error" ng-show="newTopicForm.title.$error.minlength">Minimum 5 Characters</span>
        </div>
        <div>
            <label for="body">Body</label>
            <textarea name="body" rows="5" cols="30" ng-model="newTopic.body" required ng-minlength="15"/>
            <span class="has-error" ng-show="newTopicForm.body.$error.required">*</span>
            <span class="has-error" ng-show="newTopicForm.body.$error.minlength">*</span>
        </div>
        <div>           
            <input name="submit" type="submit" class="btn btn-default" value="Save" ng-disabled="newTopicForm.$invalid"/>            
            <a href="#!/" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>
