<div>
    <div class="message-header">
        <h1>Message Board </h1>
        <p class="lead">Latest Messages...</p>
        <h3>Message Count : {{data.topics.length}}</h3>
    </div>
    <div>
        <a href="#!/newmessage">Add new Message</a>
    </div>
    <div class="progress progress-striped active" ng-show="isBusy">
        <div class="bar" style="width:100%;"></div>
    </div>
    <div class="messages">
        <div class="message row" ng-repeat="msg in data.topics">
            <div class="title span10">
                <a ng-href="#!/message/{{msg.id}}">{{msg.title}}</a>
            </div>
            <div class="date span2">{{msg.created | date:"medium"}}</div>
            <div class="contents span12">{{msg.body}}</div>            
        </div>
    </div>
</div>